@import "~normalize.css";

.wrapper{
    min-height:100vh;
    display:grid;
    grid-template:minmax(auto, 123px) 1fr minmax(auto, 670px) / 1fr;
}

@media screen and (max-width:1280px){
    .wrapper{
        grid-template: minmax(auto, 108px) 1fr minmax(auto, 670px) / 1fr;
    }
}
@media screen and (max-width:1024px){
    .wrapper{
        grid-template: minmax(auto, 96px) 1fr minmax(auto, 670px) / 1fr; 
    }
}
@media screen and (max-width:767px){
    .wrapper{
        grid-template: minmax(auto, 61px) 1fr minmax(auto, 670px) / 1fr; 
    }
}

.header{
    grid-row:1/2;
    position:fixed; // Нужно для бургера
    width:100%; // Нужно для бургера
    top:0; // Нужно для бургера
    left:0; // Нужно для бургера
    z-index:50; // Нужно для бургера
}
.header::before{ // Нужно для бургера
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFF8EE;
    z-index:2; // Нужно для бургера
}
.header__body{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:38px 70px;
    position:relative; // Нужно для бургера
}
.header__logo{
    width:138px;
    height:28px;
    position:relative; // Нужно для бургера
    z-index:3; // Нужно для бургера
    img{
        width:100%;
        height:100%;
        object-fit:contain;
    }
}
.header__items{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative; // Нужно для бургера
    z-index:2; // Нужно для бургера
}
.header__item{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #322F2E;
}
.header__items li{
    padding-right:45px;
}
.header__button{
    color:white;
    background-color: #C47344;
    padding:14px 28px;
    border-radius:25px;
}
.header__burger{
    display:none;
    position:relative; // Нужно для бургера
    z-index:3; // Нужно для бургера
    width:30px;
    height:21px;
}
.header__span{
    width:100%;
    height:3px;
    background-color: #322F2E;
    position:absolute;
    left:0;
    transition:all .3s ease 0s;
}
.span1{
    top: 0px;
}
.span2{
    top: 9px;
}
.span3{
    bottom: 0px;
}
.header__burger.active{
    .span1{
        top: 9px;
        transform:rotate(-45deg);
    }
    .span2{
        transform:scale(0);
    }
    .span3{
        bottom: 9px;
        transform:rotate(45deg);
    }
} 

@media screen and (max-width: 1280px){
    .header__body{
        margin:32px 50px;
    }
    .header__item{
        font-size: 16px;
    }
    .header__items li{
        padding-right:30px;
    }
    .header__button{
        padding:12px 26px;
    }
}

@media screen and (max-width: 1024px){
    .header__body{
        margin:28px 23px;
    }
    .header__logo{
        width:100px;
        height:20px;
    }
    .header__item{
        font-size: 14px;
    }
    .header__items li{
        padding-right:20px;
    }
    .header__button{
        padding:10px 22px;
    }
}

@media screen and (max-width: 767px){
    body.lock{
        overflow:hidden;
    }
    .header__body{
        margin:20px 23px;
    }
    .header__menu{
        display:block;
        position:fixed;
        top:-100%;
        left:0;
        width:100%;
        height:100%;
        background-color: #FFF8EE;
        padding: 80px 0 0 25px;
        transition:all .3s ease 0s;
        overflow:auto;
    }
    .header__menu.active{
        top:0;
    }
    .header__items{
        flex-direction:column;
        align-items:flex-start;
        button{
            margin-left:-25px;
            align-self:center;
        }
    }
    .header__item{
        font-size: 16px;
    }
    .header__items li{
        padding-bottom:20px;
    }
    .header__burger{
        display:block;
    }
}

.main{
    grid-row:2/3; 
    background-color: #FFF8EE; 
}
.home__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-top:140px;
    margin-bottom:125px;
}
.home__new {
    display:flex;
    position:relative;
    width:225px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}
.home__new-new {
    padding: 0 14px 0 11px;
    border: 1px solid #F9A38F;
    background-color: #F9A38F;
    border-radius: 20px;
    color:white;
}
.home__market {
    position:absolute;
    top:0;
    left:43px;
    border: 1px solid #F9EDE2;
    background-color: #F9EDE2;
    border-radius: 20px;
    color:#4D4D4D;
    padding: 0 20px 0 31px;
}
.home__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 119px;
    color: #322F2E;
    margin:11px 0 28px 0;
}
.home__description {
    max-width:524px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    color: #322F2E;
}
.home__button {
    margin:20px 0 52px 0;
    padding:14px 32px;
    background-color: #C47344;
    border-radius:30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.home__brand {
    width:225px;
    height:98px;
    margin-right:45px;
}
.home__brand:first-child{
    margin-right:35px;
}
.home__brand:last-child{
    margin:0;
}

.home__question {
    margin-top:34px;
    margin-left:-23px;
}
.home__link {
    position:relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #C47344;
}
.home__link::after{
    content:'';
    background: url('../img/arrow.png');
    position: absolute;
    top:-1px;
    left:124px;
    width:20px;
    height:20px;
}
@media screen and (max-width: 1440px){
    .home__body {
        margin-top:90px;
        margin-bottom:70px;
    }
}
@media screen and (max-width: 1280px){
    .home__body {
        margin-top:35px;
        margin-bottom:45px;
    }
    .home__brands{
        margin:0 30px;
    }
    .home__brand {
        margin-right:30px;
    }
    .home__brand:first-child{
        margin-right:25px;
    }
    .home__question {
        margin-top:28px;
    }
}
@media screen and (max-width: 1024px){
    .home__body {
        margin-top:30px;
        margin-bottom:35px;
    }
    .home__title {
        font-size: 90px;
        line-height: 100px;
        margin:9px 0 20px 0;
    }
    .home__description {
        max-width:500px;
        font-size: 18px;
        line-height: 28px;
    }
    .home__button {
        margin:15px 0 40px 0;
    }
    .home__brands{
        margin:0 25px;
    }
    .home__brand {
        margin-right:25px;
    }
    .home__brand:first-child{
        margin-right:20px;
    }
    .home__question {
        margin-top:22px;
    }
}
@media screen and (max-width: 768px){
    .home__body {
        margin: 25px 15px 30px 15px;
    }
    .home__title {
        font-size: 70px;
        line-height: 80px;
        margin:10px 0 16px 0;
    }
    .home__description {
        max-width:480px;
        font-size: 16px;
        line-height: 26px;
    }
    .home__button {
        margin:13px 0 30px 0;
    }
    .home__brands{
        margin:0 25px;
    }
    .home__brand {
        margin-right:20px;
    }
    .home__brand:first-child{
        margin-right:16px;
    }
    .home__question {
        margin-top:18px;
    }
}
@media screen and (max-width:650px){
    .home__brands{
        width:100%;
        display:flex;
        flex-wrap:wrap;
    }
    .home__brand {
        display:block;
        margin:0 auto;
        width:185px;
        height:80px;
        img{
            width:100%;
            height:100%;
            object-fit:contain;
        }
    }
    .home__brand:first-child{
        margin:0 auto;
    }
    .home__brand:last-child{
        margin:0 auto;
    }
}
@media screen and (max-width:540px){
    .home__title {
        font-size: 55px;
        line-height: 70px;
    }
    .home__description {
        max-width:420px;
        font-size: 14px;
        line-height: 22px;
    }
    .home__button {
        margin-bottom:25px;
    }
    .home__brand {
        width:165px;
        height:70px;
    }
    .home__question {
        margin-top:20px;
    }
}
@media screen and (max-width:420px){
    .home__button {
        margin: 22px 0 27px 0;
    }
    .home__brand {
        width:140px;
        height:60px;
    }
}

.main-pict{
    width:100%;
    height:100%;
}
.main-pict__image{
    width:100%;
    height:100%;
    object-fit:contain;
}